{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <div class="grp-module">
        {% if module.children %}
            <ul class="grp-listing-small">
                {% for entry in module.children %}
                    <li class="grp-row {% if entry.is_addition %}grp-add-link{% endif %}{% if entry.is_change %}grp-change-link{% endif %}{% if entry.is_deletion %}grp-delete-link{% endif %}">
                        {% if entry.is_deletion %}
                            <span>{{ entry.object_repr }}</span>
                        {% else %}
                            <a href="{{ entry.get_admin_url }}">{% if entry.object_repr %}{{ entry.object_repr }}{% else %}{% trans 'Goto Object' %}{% endif %}</a>
                        {% endif %}
                        <span class="grp-font-color-quiet">{% trans 'Type' %}: {% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                        <span class="grp-font-color-quiet">{% trans 'Action' %}: {% if entry.is_addition %}{% trans 'Record Added' %}{% endif %}{% if entry.is_change %}{% trans 'Record Edited' %}{% endif %}{% if entry.is_deletion %}{% trans 'Record Deleted' %}{% endif %}</span>
                        <span class="grp-font-color-quiet">{% trans 'User' %}: {% trans entry.user.username %}</span>
                        <span class="grp-font-color-quiet">{% trans 'Time' %}: {{ entry.action_time|date:'H:i:s d.m.Y' }}</span></li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="grp-row"><p>{% trans 'None Available' %}</p></div>
        {% endif %}
    </div>
{% endblock %}
